.jobs-page {
  background-color: #000000;
  font-family: 'Roboto';
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.job-page-container-1 {
  width: 93%;
  color: #ffffff;
  display: flex;
}

@media screen and (max-width: 768px) {
  .job-page-container-1 {
    display: flex;
    flex-direction: column;
  }
}
.left-side-card {
  width: 28%;
  margin-right: 20px;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .left-side-card {
    width: 100%;
  }
}
.right-side-card {
  width: 70%;
  padding: 10px;
  padding-top: 30px;
  height: 100vh;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .right-side-card {
    width: 100%;
  }
}

.profile-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 28vh;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .profile-bg {
    height: 20vh;
    border-radius: 15px;
  }
}

.profile-img {
  height: 50px;
}
.profile-name {
  color: #4f46e5;
  font-size: 20px;
  margin-top: 5px;
  font-weight: 600;
  margin-bottom: 0px;
}
.profile-bio {
  color: #64748b;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}
.failure-profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
}
.retry-btn {
  background-color: #4f46e5;
  border: none;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  color: #ffffff;
}
.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.hr-line {
  width: 100%;
  border: 1px solid #64748b;
  margin-top: 20px;
  margin-bottom: 20px;
}
.employment-type-card {
  padding: 0px;
}
.employment-type-heading {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}
.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  list-style: none;
}
.checkbox {
  cursor: pointer;
  margin-right: 12px;
}
.checkbox-label {
  cursor: pointer;
  font-size: 13px;
  color: #f1f5f9;
}
.checkbox-items-list-card {
  padding: 0px;
}
.jobs-list {
  padding: 0px;
}

@media (min-width: 769px) {
  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #64748b;
    width: 60%;
    border-radius: 2px;
  }

  .search-container-mobile-view {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .search-container-mobile-view {
    display: flex;
    align-items: center;
    border: 1px solid #64748b;
    width: 100%;
    border-radius: 2px;
    margin-top: 20px;
  }
  .search-container {
    display: none;
  }
}

.search-input {
  padding: 10px;
  background-color: transparent;
  border: none;
  width: 85%;
  padding-left: 20px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}
.search-btn {
  padding: 6px;
  background-color: #272727;
  width: 15%;
  padding: 10px;
  cursor: pointer;
}
.search-icon {
  color: #f1f5f9;
}
.failure-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #64748b;
  align-items: center;
  text-align: center;
}
.failure-heading {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
.failure-img {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .failure-img {
    width: 90%;
  }
}
